<div class="container">
  <div class="galeria">
    <mat-grid-list cols="4" rowHeight="5:7" gutterSize="10px">
      <mat-grid-tile *ngFor="let imagem of imagens; let i = index" (click)="openImagePopup(imagem, imagensIds[i])">
        <img [src]="imagem" alt="Imagem da galeria" loading="lazy">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- Popup para exibir a imagem -->
  <div *ngIf="isPopupOpen" class="popup">
    <div class="popup-content">
      <button class="close-button" (click)="closeImagePopup()">✕</button>
      <img [src]="selectedImageSrc" alt="Imagem ampliada">
      <img *ngIf="selectedQrcodeSrc" [src]="selectedQrcodeSrc" alt="QR Code" class="qrcode">  <!-- Imagem do QR code -->

      <button class="delete-button"><img src="../../../assets/lixeira.png" alt=""></button>
    </div>
  </div>
</div>  