<div class="container">
  <mat-grid-list cols="4" rowHeight="5:7" gutterSize="10px">
    <mat-grid-tile (click)="openImagePopup('../../../assets/img-galeria.jpg')">
      <img src="../../../assets/img-galeria.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
  </mat-grid-list>

  <!-- Popup para exibir a imagem -->
  <div *ngIf="isPopupOpen" class="popup">
    <div class="popup-content">
      <button class="close-button" (click)="closeImagePopup()">✕</button>
      <img [src]="selectedImageSrc" alt="Imagem ampliada">
    </div>
  </div>
</div>
