<div class="container">
  <mat-grid-list cols="4" rowHeight="5:7" gutterSize="10px">
    <mat-grid-tile *ngFor="let imagem of imagens" (click)="openImagePopup(imagem)">
      <img [src]="imagem" alt="Imagem da galeria">
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Popup para exibir a imagem -->
  <div *ngIf="isPopupOpen" class="popup">
    <div class="popup-content">
      <button class="close-button" (click)="closeImagePopup()">✕</button>
      <img [src]="selectedImageSrc" alt="Imagem ampliada">
    </div>
  </div>
</div>
