<div class="container">
  <div class="galeria">
    <mat-grid-list cols="4" rowHeight="5:7" gutterSize="10px">
      <mat-grid-tile *ngFor="let video of videos; let i = index" (click)="openVideoPopup(video, videosIds[i])">
        <video [src]="video" muted preload="auto">
          Seu navegador não suporta o elemento de vídeo.
        </video>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- Popup para exibir o vídeo -->
  <div *ngIf="isPopupOpen" class="popup">
    <div class="popup-content">
      <button class="close-button" (click)="closeVideoPopup()">✕</button>
      <video [src]="selectedVideoSrc" controls autoplay muted>
        Seu navegador não suporta o elemento de vídeo.
      </video>

      <!-- Exibir QR code da empresa com texto -->
      <div *ngIf="showCompanyQrcode && companyQrcodeSrc" class="qrcode-container">
        <p class="qrcode-text">Nos siga no Instagram:</p>
        <img [src]="companyQrcodeSrc" alt="QR Code Empresa" class="qrcode">
      </div>

      <!-- Exibir QR code do vídeo -->
      <img *ngIf="!showCompanyQrcode && selectedQrcodeSrc" [src]="selectedQrcodeSrc" alt="QR Code" class="qrcode">

      <button class="delete-button" (click)="openDeleteConfirmationPopup()"><img src="../../../assets/lixeira.png" alt="Botão de excluir"></button>
    </div>
  </div>

  <!-- Popup de confirmação de exclusão -->
  <div *ngIf="isDeleteConfirmationOpen" class="delete-confirmation-popup">
    <div class="delete-confirmation-content">
      <button class="delete-close-button" (click)="closeDeleteConfirmationPopup()">✕</button>
      <div class="delete-confirmation-body">
        <span class="exclamation-icon">!</span>
        <p>Tem certeza que deseja excluir o vídeo?</p>
      </div>
      <div class="delete-confirmation-actions">
        <button class="confirm-button" (click)="confirmDelete()">Sim</button>
        <button class="cancel-button" (click)="closeDeleteConfirmationPopup()">Não</button>
      </div>
    </div>
  </div>
</div>