<div class="container">
  <div class="row">
    <div class="div-logo">
      <img [src]="logoUrl || '../../../assets/logo-velejar.png'" alt="Logo" class="logo">
    </div>

    <div class="menu-btn" (click)="toggleMenu()">
      <span class="menu-icon">&#9776;</span>
    </div>

    <div class="navegacao" [class.active]="menuActive">
      <div class="close-btn" (click)="toggleMenu()">✕</div>
      <ul class="menu-list">
        <li><i class="fas fa-home"></i><a routerLink="/home">Home</a></li>
        <li class="dropdown">
          <i class="fas fa-images desktop-icon"></i><a class="dropdown-toggle">Carrossel</a>
          <ul class="dropdown-menu">
            <li><i class="fas fa-image"></i><a routerLink="/carrossel">Carrossel Fotos</a></li>
            <li><i class="fas fa-video"></i><a routerLink="/carrossel-video">Carrossel Vídeos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <i class="fas fa-photo-video desktop-icon"></i><a class="dropdown-toggle">Galeria</a>
          <ul class="dropdown-menu">
            <li><i class="fas fa-image"></i><a routerLink="/galeria">Galeria Fotos</a></li>
            <li><i class="fas fa-video"></i><a routerLink="/galeria-video">Galeria Vídeos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <i class="fas fa-ellipsis-h desktop-icon"></i><a class="dropdown-toggle">Outros</a>
          <ul class="dropdown-menu">
            <li><i class="fas fa-qrcode"></i><a routerLink="/qrcode">QR Code</a></li>
            <li><i class="fas fa-comment"></i><a routerLink="/feedback">Feedback</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>