<div class="container">
  <div class="row">
    <div class="logo">
      <img src="../../../assets/logo-be2b.jpg" alt="">
    </div>

    <div class="menu-btn" (click)="toggleMenu()">
      <span class="menu-icon">&#9776;</span> <!-- Ícone do menu -->
    </div>

    <div class="navegacao" [class.active]="menuActive">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/carrossel">Carrossel</a></li>
        <li><a routerLink="/galeria">Galeria</a></li>
        <li><a routerLink="/qrcode">QR Code</a></li>
      </ul>
    </div>
  </div>
</div>