<div class="container">
    <div class="carousel-slide">
        <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true" autoplay="true" autoplay-delay="2000" autoplay-disable-on-interaction="false">
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1080?random=1" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1080?random=2" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=3" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=4" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=5" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=6" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=7" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=8" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=9" />
        </swiper-slide>
        <swiper-slide lazy="true">
            <img src="https://picsum.photos/720/1800?random=10" />
        </swiper-slide>
    </swiper-container>
    </div>
    
    <div class="qrcode">
        <img src="../../../assets/qrcode.jpg" alt="">
    </div>
</div>
