* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Aumenta o tamanho do texto */
  padding: 20px 40px; /* Aumenta o tamanho do botão */
  margin: 15px 0;
  width: 300px;
  background-color: transparent; /* Torna o botão transparente */
  color: #FFF; /* Cor do texto e bordas */
  border: 2px solid #FFF; /* Borda visível */
  border-radius: 20px; /* Maior arredondamento */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn i {
  margin-right: 12px;
  font-size: 28px; /* Aumenta o tamanho do ícone */
}

.menu-btn:hover {
  background-color: #FFF; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}
