<div class="container">
  <button class="menu-btn" routerLink="/carrossel">
    <i class="fas fa-images"></i> Carrossel
  </button>
  <button class="menu-btn" routerLink="/galeria">
    <i class="fas fa-photo-video"></i> Galeria
  </button>
  <button class="menu-btn" routerLink="/qrcode">
    <i class="fas fa-qrcode"></i> QR Code
  </button>
  <button class="menu-btn" routerLink="/feedback">
    <i class="fas fa-comments"></i> Feedback
  </button>

  <div class="logo-velejar">
    <p>Desenvolvido por: </p>
    <img src="../../../assets/logo-velejar.png" alt="">
  </div>
</div>