<div class="feedback-container">
  <h2>Faça sua avaliação:</h2>

  <div class="emoji-container">
    <button (click)="setFeedback(1)" [class.selected]="selectedFeedback === 1">
      😡
    </button>
    <button (click)="setFeedback(2)" [class.selected]="selectedFeedback === 2">
      😕
    </button>
    <button (click)="setFeedback(3)" [class.selected]="selectedFeedback === 3">
      😐
    </button>
    <button (click)="setFeedback(4)" [class.selected]="selectedFeedback === 4">
      😊
    </button>
    <button (click)="setFeedback(5)" [class.selected]="selectedFeedback === 5">
      😍
    </button>
  </div>

  <textarea
    placeholder="Deixe sua opinião aqui..."
    rows="5"
    class="opinion-box"
    [(ngModel)]="opinion"
    (focus)="openVirtualKeyboard()"
  ></textarea>

  <div class="keyboard-container" id="keyboard"></div> <!-- Container para o teclado -->

  <button (click)="submitFeedback()" class="submit-button">Salvar</button>

  <div class="logo-velejar">
    <p>Desenvolvido por: </p>
    <img src="../../../assets/logo-velejar.png" alt="">
  </div>
</div>
