.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  position: relative; 
}

h2 {
  color: white; /* Cor do texto alterada para branco */
  font-size: 4rem; /* Tamanho duplicado da fonte */
}

.emoji-container {
  display: flex;
  justify-content: space-around;
  margin: 40px 0; /* Espaçamento ajustado */
  width: 600px; /* Largura ajustada para o retângulo */
  padding: 20px;
  background: rgba(255, 255, 255, 0.2); /* Fundo semi-transparente para o retângulo */
  border-radius: 15px; /* Arredondar as bordas do retângulo */
}

.emoji-container button {
  font-size: 4rem; /* Tamanho duplicado dos emojis */
  background: none; /* Remover fundo dos botões individuais */
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.emoji-container button:hover {
  transform: scale(1.3); /* Emojis aumentam ao passar o mouse */
}

.selected {
  transform: scale(1.7); /* Aumenta o tamanho do emoji */
  filter: brightness(2.0); /* Aumenta o brilho do emoji */
}

.opinion-box {
  width: 600px; /* Tamanho duplicado da caixa de texto */
  margin: 40px 0;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 1.5rem; /* Fonte aumentada */
}

.keyboard-container {
  position: fixed; /* Fixar o teclado na parte inferior */
  bottom: 0; /* Alinhar o teclado ao final da tela */
  left: 0;
  width: 100%; /* O teclado cobrirá toda a largura da tela */
  height: 300px; /* Aumentar a altura do teclado */
  background-color: #fff;
  z-index: 100; /* Certificar-se de que o teclado ficará sobre outros elementos */
  display: none; /* Escondido por padrão */
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra para destaque */
}

.simple-keyboard {
  font-size: 2rem; /* Aumentar o tamanho da fonte do teclado */
  height: 100%; /* Preencher a altura total do container */
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 20px 40px; /* Tamanho duplicado do botão */
  font-size: 1.5rem; /* Fonte aumentada */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.logo-velejar {
  position: absolute; /* Faz a div ficar fora do fluxo normal do documento */
  bottom: 30px; /* Posiciona 20px acima do final da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-velejar p {
  color: #FFF;
  font-size: 1.5rem;
}

.logo-velejar img {
  width: 13rem;

  margin: 0;
  padding: 0;
}