.container {
  width: 100%;

  min-height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;


  padding: 3rem;
}

.carregar-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carregar-img h1 {  
  color: #FFF;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.carregar-img input[type="file"] {
  display: none;
}

.carregar-img label {
  display: inline-block;
  padding: 3rem 5rem;
  color: #FFF;
  background-color: transparent;
  border: 5px solid #FFF;
  border-radius: 40px;
  cursor: pointer;
  font-size: 4rem;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.carregar-img label:hover {
  background-color: red;
  color: #FFF;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .carregar-img h1 {
    font-size: 1.5rem; /* Reduz o tamanho do título */
    margin-bottom: 1.5rem;
  }

  .carregar-img label {
    padding: 2rem 3rem; /* Reduz o padding do botão */
    font-size: 2rem; /* Reduz o tamanho da fonte do botão */
    border-width: 8px; /* Reduz a largura da borda */
  }
}
