<div class="container">
  <div class="carregar-img">
    <h1>Carregue uma imagem ou vídeo:</h1>
    <div class="button-group">
      <input type="file" id="photoInput" accept="image/*" (change)="carregarFoto($event)">
      <input type="file" id="videoInput" accept="video/*" capture="environment" (change)="carregarVideo($event)">
      <button class="record-btn" (click)="startRecording()">
        <span class="material-icons">videocam</span> Câmera
      </button>
      <label for="photoInput">
        <span class="material-icons">upload</span> Carregar Foto
      </label>
      <label for="videoInput">
        <span class="material-icons">upload</span> Carregar Vídeo
      </label>
    </div>
  </div>
</div>